In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

enter number11
enter row index1
enter limiting row index: 10
enter column label: BRAND
enter limiting column label: PRICE
    BRAND             MODEL     REVIEW  RATINGS   PRICE
1   apple          iphoneXR  very good      4.5   41699
2   apple         iphone 6+       fair      4.5   18499
3   apple         iphone 11  very good      4.6  40,999
4   apple         iphone 12       good      4.6   53999
5   apple      iphone12 pro       good      4.1  109900
6   apple         iphone 13  very good      4.5   61999
7   apple          iphone14  very good      4.6   67999
8   apple  iphone14 pro max  very good      4.7  127999
9   apple        iphone 14+  very good      4.7   78999
10  apple          iphone X  very good      4.4   28999

In [1]:
import mysql.connector as sqltor
mycon=sqltor.connect(host='localhost', user='root', passwd='arpita', database='project')
cur=mycon.cursor()
if mycon.is_connected:
    print('ok')

ModuleNotFoundError: No module named 'mysql'

In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-win_amd64.whl (10.9 MB)
     ---------------------------------------- 10.9/10.9 MB 5.5 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1
  Downloading protobuf-4.21.12-cp310-abi3-win_amd64.whl (527 kB)
     -------------------------------------- 527.0/527.0 kB 6.6 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector as sqltor
mycon=sqltor.connect(host='localhost', user='root', passwd='arpita', database='project')
cur=mycon.cursor()
if mycon.is_connected:
    print('ok')

ok

In [4]:
#connectivity
import pandas as pd 
import matplotlib.pyplot as plt
import mysql.connector as sqltor
import numpy as np
con=sqltor.connect(host='localhost', user='root', passwd='arpita', database='project')
mobile=pd.read_csv('C:\\Users\\arpit_72tw24v\\OneDrive\\Documents\\mobile.csv')
print(mobile)
l=mobile.BRAND.count()
print(l)
cursor=con.cursor()
for i in range(0,l):
    val=[int(mobile.loc[i,'SR_NO']),mobile.loc[i,'BRAND'],mobile.loc[i,'MODEL'],mobile.loc[i,'REVIEW'],float(mobile.loc[i,'RATINGS']),float(mobile.loc[i,'PRICE']),int(mobile.loc[i,'CAMERA']),mobile.loc[i,'DISPLAY'],float(mobile.loc[i,'DISPLAY SIZE']),float(mobile.loc[i,'STORAGE']),float(mobile.loc[i,'RAM']),mobile.loc[i,'OS'],mobile.loc[i,'COLOUR'],float(mobile.loc[i,'BATTERY']),mobile.loc[i,'ORIGIN']]
    print(val)
    query='insert into mobile values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
    cursor.execute(query,val)
    con.commit()

     SR_NO  BRAND                   MODEL     REVIEW  RATINGS  PRICE  CAMERA  \
0        1  apple                iphoneGS       good      4.5  12560       3
1        2  apple                iphoneXR  very good      4.5  41699      12
2        3  apple               iphone 6+       fair      4.5  18499       8
3        4  apple               iphone 11  very good      4.6  40999      12
4        5  apple               iphone 12       good      4.6  53999      12
..     ...    ...                     ...        ...      ...    ...     ...
192    193    zte           axon 50 ultra       good      4.0  69990      64
193    194    zte         nubia Z50 ultra       fair      3.4  47290      64
194    195    zte               blade V40       good      3.9  15990      48
195    196    zte  nubia red magic 8 pro+       good      4.3  61647      50
196    197    zte          blade v41 vita       good      4.0  20999      50

    DISPLAY  DISPLAY SIZE  STORAGE   RAM         OS        COLOUR  BATTERY  \
0       LCD          3.50     32.0   8.0   ios6.1.3         black   1400.0
1       LCD          6.06     64.0   3.0        ios          blue   2942.0
2       LCD          4.70     64.0   1.0       ios8          grey   1810.0
3       LCD          6.10     64.0   4.0      iod13        purple   3110.0
4      OLED          6.10     64.0   4.0     ios 14        purple   2815.0
..      ...           ...      ...   ...        ...           ...      ...
192  AMOLED          6.67    256.0  12.0  android12         black   5000.0
193  AMOLED          6.80    256.0   8.0  android13    starry sky   5000.0
194  AMOLED          6.67    256.0   6.0  android12          blue   6000.0
195  AMOLED          6.80    128.0  12.0  android13   transparent   5000.0
196  AMOLED          6.60    128.0   6.0  android12  starry night   4500.0

      ORIGIN
0    Germany
1     Taiwan
2      India
3      India
4         US
..       ...
192    China
193    China
194    China
195    China
196    China

[197 rows x 15 columns]
197
[1, 'apple', 'iphoneGS', 'good', 4.5, 12560.0, 3, 'LCD', 3.5, 32.0, 8.0, 'ios6.1.3', 'black', 1400.0, 'Germany']

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'mobile.PRIMARY'

In [ ]:
import pandas as pd
mobile=pd.read_csv('C:\\Users\\arpit_72tw24v\\OneDrive\\Documents\\mobile.csv')
print(mobile)
mobile=pd.read_csv('C:\\Users\\arpit_72tw24v\\OneDrive\\Documents\\mobile.csv')
r=int(input('enter row index'))
rl=int(input('enter limiting row index(last wont count): '))
c=input('enter column label: ')
cl=input('enter limiting column label: ')
print(mobile.loc[r:rl,c:cl])
mobile=pd.read_csv('C:\\Users\\arpit_72tw24v\\OneDrive\\Documents\\mobile.csv')
print(mobile.columns)

print(mobile.sort_values(by='PRICE', ascending=False, inplace=True))
r=input('enter row label: ')
rl=input('enter limiting row label: ')
c=input('enter column label: ')
cl=input('enter limiting column label: ')
print(mobile.loc[r:rl,c:cl])
print(mobile.loc[0:10,:])

     SR_NO  BRAND                   MODEL     REVIEW  RATINGS   PRICE  CAMERA  \
0        1  apple                iphoneGS       good      4.5   12560       3
1        2  apple                iphoneXR  very good      4.5   41699      12
2        3  apple               iphone 6+       fair      4.5   18499       8
3        4  apple               iphone 11  very good      4.6  40,999      12
4        5  apple               iphone 12       good      4.6   53999      12
..     ...    ...                     ...        ...      ...     ...     ...
192    193    zte           axon 50 ultra       good      4.0   69990      64
193    194    zte         nubia Z50 ultra       fair      3.4   47290      64
194    195    zte               blade V40       good      3.9   15990      48
195    196    zte  nubia red magic 8 pro+       good      4.3   61647      50
196    197    zte          blade v41 vita       good      4.0   20999      50

    DISPLAY  DISPLAY SIZE  STORAGE   RAM         OS        COLOUR  BATTERY  \
0       LCD          3.50     32.0   8.0   ios6.1.3         black   1400.0
1       LCD          6.06     64.0   3.0        ios          blue   2942.0
2       LCD          4.70     64.0   1.0       ios8          grey   1810.0
3       LCD          6.10     64.0   4.0      iod13        purple   3110.0
4      OLED          6.10     64.0   4.0     ios 14        purple   2815.0
..      ...           ...      ...   ...        ...           ...      ...
192  AMOLED          6.67    256.0  12.0  android12         black   5000.0
193  AMOLED          6.80    256.0   8.0  android13    starry sky   5000.0
194  AMOLED          6.67    256.0   6.0  android12          blue   6000.0
195  AMOLED          6.80    128.0  12.0  android13   transparent   5000.0
196  AMOLED          6.60    128.0   6.0  android12  starry night   4500.0

      ORIGIN
0    Germany
1     Taiwan
2      India
3      India
4         US
..       ...
192    China
193    China
194    China
195    China
196    China

[197 rows x 15 columns]
enter row index1
enter limiting row index(last wont count): 3
enter column label: BRAND
enter limiting column label: STORAGE
   BRAND      MODEL     REVIEW  RATINGS   PRICE  CAMERA DISPLAY  DISPLAY SIZE  \
1  apple   iphoneXR  very good      4.5   41699      12     LCD          6.06
2  apple  iphone 6+       fair      4.5   18499       8     LCD          4.70
3  apple  iphone 11  very good      4.6  40,999      12     LCD          6.10

   STORAGE
1     64.0
2     64.0
3     64.0
Index(['SR_NO', 'BRAND', 'MODEL', 'REVIEW', 'RATINGS', 'PRICE', 'CAMERA',
       'DISPLAY', 'DISPLAY SIZE', 'STORAGE', 'RAM', 'OS', 'COLOUR', 'BATTERY',
       'ORIGIN'],
      dtype='object')
None